a {
	color: #444;
}

i, em, cite, var, address {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

* {
	margin: 0 !important;
	padding: 0 !important;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h5 {
	font-size: 0.83em;
}

h6 {
	font-size: 0.75em;
}

pre, code, samp, kbd {
	font-family: monospace;
	font-size: 0.891em;
}

li > ul, li > ol {
	margin-top: 0;
	margin-bottom: 0;
}

svg {
	text-align: center;
}

sub, sup {
	font-size: 0.83em;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

table {
	text-align: left;
}

th {
	font-weight: bold;
	text-align: center;
}

th, td {
	padding: 0.67em;
}
